/.bundle/
/.rspec_status
/.ruby-gemset
/.ruby-version
/.yardoc
/Gemfile.lock
/_yardoc/
/bundler.d/*
/config/database.yml
/coverage/
/db/schema.rb
/doc/
/log/*.log
/pkg/
/spec/reports/
/tmp/
/v2_key
/public/doc/*.jar