{
  "openapi": "3.0.0",
  "info": {
    "description": "Topological Inventory Ingress API",
    "version": "0.0.2",
    "title": "Topological Inventory Ingress API",
    "contact": {
      "email": "support@redhat.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://cloud.redhat.com/{basePath}",
      "description": "Production Server",
      "variables": {
        "basePath": {
          "default": "/topological_inventory/ingress_api/0.0.2"
        }
      }
    },
    {
      "url": "http://localhost:{port}/{basePath}",
      "description": "Development Server",
      "variables": {
        "port": {
          "default": "9292"
        },
        "basePath": {
          "default": "/topological_inventory/ingress_api/0.0.2"
        }
      }
    }
  ],
  "security": [
    {
      "UserSecurity": [

      ]
    }
  ],
  "paths": {
    "/inventory": {
      "post": {
        "summary": "save inventory",
        "description": "Submits a payload to be persisted to the database",
        "operationId": "saveInventory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Inventory"
              }
            }
          },
          "description": "Inventory payload",
          "required": true
        },
        "responses": {
          "200": {
            "description": "ContainerGroups collection",
            "content": {
              "application/json": {
                "schema": {
                  "description": "inventory saved"
                }
              }
            }
          },
          "400": {
            "description": "ContainerGroups collection",
            "content": {
              "application/json": {
                "schema": {
                  "description": "invalid input, inventory invalid"
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "Return this API document in JSON format",
        "operationId": "getDocumentation",
        "responses": {
          "200": {
            "description": "The API document for this version of the API"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Cluster": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "extra": {
                "nullable": true,
                "type": "object"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "uid_ems": {
                "nullable": true,
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ClusterReference": {
        "type": "object",
        "nullable": true,
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^clusters$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "ClusterTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "cluster",
              "tag"
            ],
            "properties": {
              "cluster": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ClusterReference"
                  },
                  {
                    "type": "object",
                    "nullable": false,
                    "additionalProperties": false
                  }
                ]
              },
              "tag": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TagReference"
                  },
                  {
                    "type": "object",
                    "nullable": false,
                    "additionalProperties": false
                  }
                ]
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "Container": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "container_group",
              "name"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "container_group": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContainerGroupReference"
                  },
                  {
                    "type": "object",
                    "nullable": false,
                    "additionalProperties": false
                  }
                ]
              },
              "container_image": {
                "$ref": "#/components/schemas/ContainerImageReference"
              },
              "cpu_limit": {
                "format": "double",
                "nullable": true,
                "type": "number"
              },
              "cpu_request": {
                "format": "double",
                "nullable": true,
                "type": "number"
              },
              "memory_limit": {
                "nullable": true,
                "type": "integer"
              },
              "memory_request": {
                "nullable": true,
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ContainerGroup": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "container_node": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/ContainerNodeReference"
                  },
                  {
                    "$ref": "#/components/schemas/ContainerNodeReferenceByName"
                  }
                ]
              },
              "container_project": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/ContainerProjectReference"
                  },
                  {
                    "$ref": "#/components/schemas/ContainerProjectReferenceByName"
                  }
                ]
              },
              "ipaddress": {
                "nullable": true,
                "type": "string"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "resource_version": {
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ContainerGroupReference": {
        "type": "object",
        "nullable": true,
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^container_groups$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "ContainerGroupTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "container_group",
              "tag"
            ],
            "properties": {
              "container_group": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContainerGroupReference"
                  },
                  {
                    "type": "object",
                    "nullable": false,
                    "additionalProperties": false
                  }
                ]
              },
              "tag": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TagReference"
                  },
                  {
                    "type": "object",
                    "nullable": false,
                    "additionalProperties": false
                  }
                ]
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ContainerImage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "resource_version": {
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "tag": {
                "nullable": true,
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ContainerImageReference": {
        "type": "object",
        "nullable": true,
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^container_images$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "ContainerImageTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "container_image",
              "tag"
            ],
            "properties": {
              "container_image": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContainerImageReference"
                  },
                  {
                    "type": "object",
                    "nullable": false,
                    "additionalProperties": false
                  }
                ]
              },
              "tag": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TagReference"
                  },
                  {
                    "type": "object",
                    "nullable": false,
                    "additionalProperties": false
                  }
                ]
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ContainerNode": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "addresses": {
                "items": {
                  "type": "object"
                },
                "nullable": true,
                "type": "array"
              },
              "allocatable_cpus": {
                "format": "float",
                "nullable": true,
                "type": "number"
              },
              "allocatable_memory": {
                "nullable": true,
                "type": "integer"
              },
              "allocatable_pods": {
                "nullable": true,
                "type": "integer"
              },
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "conditions": {
                "items": {
                  "type": "object"
                },
                "nullable": true,
                "type": "array"
              },
              "cpus": {
                "nullable": true,
                "type": "integer"
              },
              "lives_on": {
                "$ref": "#/components/schemas/CrossLinkVmReference"
              },
              "memory": {
                "nullable": true,
                "type": "integer"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "node_info": {
                "nullable": true,
                "type": "object"
              },
              "pods": {
                "nullable": true,
                "type": "integer"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "resource_version": {
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ContainerNodeReference": {
        "type": "object",
        "nullable": true,
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^container_nodes$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "ContainerNodeReferenceByName": {
        "type": "object",
        "nullable": true,
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^container_nodes$"
          },
          "reference": {
            "type": "object",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "nullable": true,
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^by_name$"
          }
        },
        "additionalProperties": false
      },
      "ContainerNodeTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "container_node",
              "tag"
            ],
            "properties": {
              "container_node": {
                "allOf": [
                  {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/ContainerNodeReference"
                      },
                      {
                        "$ref": "#/components/schemas/ContainerNodeReferenceByName"
                      }
                    ]
                  },
                  {
                    "type": "object",
                    "nullable": false,
                    "additionalProperties": false
                  }
                ]
              },
              "tag": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TagReference"
                  },
                  {
                    "type": "object",
                    "nullable": false,
                    "additionalProperties": false
                  }
                ]
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ContainerProject": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "display_name": {
                "nullable": true,
                "type": "string"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "resource_version": {
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "status_phase": {
                "nullable": true,
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ContainerProjectReference": {
        "type": "object",
        "nullable": true,
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^container_projects$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "ContainerProjectReferenceByName": {
        "type": "object",
        "nullable": true,
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^container_projects$"
          },
          "reference": {
            "type": "object",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "nullable": true,
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^by_name$"
          }
        },
        "additionalProperties": false
      },
      "ContainerProjectTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "container_project",
              "tag"
            ],
            "properties": {
              "container_project": {
                "allOf": [
                  {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/ContainerProjectReference"
                      },
                      {
                        "$ref": "#/components/schemas/ContainerProjectReferenceByName"
                      }
                    ]
                  },
                  {
                    "type": "object",
                    "nullable": false,
                    "additionalProperties": false
                  }
                ]
              },
              "tag": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TagReference"
                  },
                  {
                    "type": "object",
                    "nullable": false,
                    "additionalProperties": false
                  }
                ]
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ContainerResourceQuota": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "container_project": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/ContainerProjectReference"
                  },
                  {
                    "$ref": "#/components/schemas/ContainerProjectReferenceByName"
                  }
                ]
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "resource_version": {
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "spec": {
                "nullable": true,
                "type": "object"
              },
              "status": {
                "nullable": true,
                "type": "object"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ContainerTemplate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "container_project": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/ContainerProjectReference"
                  },
                  {
                    "$ref": "#/components/schemas/ContainerProjectReferenceByName"
                  }
                ]
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "resource_version": {
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ContainerTemplateReference": {
        "type": "object",
        "nullable": true,
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^container_templates$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "ContainerTemplateTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "container_template",
              "tag"
            ],
            "properties": {
              "container_template": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContainerTemplateReference"
                  },
                  {
                    "type": "object",
                    "nullable": false,
                    "additionalProperties": false
                  }
                ]
              },
              "tag": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TagReference"
                  },
                  {
                    "type": "object",
                    "nullable": false,
                    "additionalProperties": false
                  }
                ]
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "CrossLinkVmReference": {
        "type": "object",
        "nullable": true,
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^cross_link_vms$"
          },
          "reference": {
            "type": "object",
            "required": [
              "uid_ems"
            ],
            "properties": {
              "uid_ems": {
                "nullable": true,
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "Datastore": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "accessible": {
                "description": "Is the datastore accessible or not?",
                "nullable": true,
                "type": "boolean"
              },
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "extra": {
                "description": "Free form document for storing SourceType's specific attributes.",
                "nullable": true,
                "type": "object"
              },
              "free_space": {
                "description": "How much space (bytes) is still available to be allocated",
                "nullable": true,
                "type": "integer"
              },
              "location": {
                "description": "The physical location of the storage",
                "nullable": true,
                "type": "string"
              },
              "name": {
                "description": "Friendly name for this storage",
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "description": "Unique reference for this storage",
                "type": "string"
              },
              "status": {
                "description": "High level status of the storage",
                "nullable": true,
                "type": "string"
              },
              "total_space": {
                "description": "How much total space (bytes) does the storage have",
                "nullable": true,
                "type": "integer"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "DatastoreMount": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "datastore",
              "host"
            ],
            "properties": {
              "accessible": {
                "nullable": true,
                "type": "boolean"
              },
              "datastore": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DatastoreReference"
                  },
                  {
                    "type": "object",
                    "nullable": false,
                    "additionalProperties": false
                  }
                ]
              },
              "host": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/HostReference"
                  },
                  {
                    "type": "object",
                    "nullable": false,
                    "additionalProperties": false
                  }
                ]
              },
              "read_only": {
                "nullable": true,
                "type": "boolean"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "DatastoreReference": {
        "type": "object",
        "nullable": true,
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^datastores$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "description": "Unique reference for this storage",
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "DatastoreTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "datastore",
              "tag"
            ],
            "properties": {
              "datastore": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DatastoreReference"
                  },
                  {
                    "type": "object",
                    "nullable": false,
                    "additionalProperties": false
                  }
                ]
              },
              "tag": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TagReference"
                  },
                  {
                    "type": "object",
                    "nullable": false,
                    "additionalProperties": false
                  }
                ]
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "Flavor": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "cpus": {
                "description": "Number of cpus of the entity (vcpus for virtualized, cpus for baremetal).",
                "nullable": true,
                "type": "integer"
              },
              "disk_count": {
                "description": "Total count of disks. Total storage capacity of the entity is: disk_size * disk_count.",
                "nullable": true,
                "type": "integer"
              },
              "disk_size": {
                "description": "Size of one local disk in bytes. Total storage capacity of the entity is: disk_size * disk_count.",
                "nullable": true,
                "type": "integer"
              },
              "extra": {
                "description": "Free form document for storing SourceType's specific attributes.",
                "nullable": true,
                "type": "object"
              },
              "memory": {
                "description": "Memory in bytes.",
                "nullable": true,
                "type": "integer"
              },
              "name": {
                "description": "Name of the flavor.",
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "description": "Timestamp marking age of the data.",
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "description": "Unique identifier of the entity.",
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "FlavorReference": {
        "type": "object",
        "nullable": true,
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^flavors$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "description": "Unique identifier of the entity.",
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "Host": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "cluster": {
                "$ref": "#/components/schemas/ClusterReference"
              },
              "cpus": {
                "nullable": true,
                "type": "integer"
              },
              "description": {
                "nullable": true,
                "type": "string"
              },
              "extra": {
                "nullable": true,
                "type": "object"
              },
              "hostname": {
                "nullable": true,
                "type": "string"
              },
              "memory": {
                "nullable": true,
                "type": "integer"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "power_state": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "uid_ems": {
                "nullable": true,
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "HostReference": {
        "type": "object",
        "nullable": true,
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^hosts$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "HostTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "host",
              "tag"
            ],
            "properties": {
              "host": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/HostReference"
                  },
                  {
                    "type": "object",
                    "nullable": false,
                    "additionalProperties": false
                  }
                ]
              },
              "tag": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TagReference"
                  },
                  {
                    "type": "object",
                    "nullable": false,
                    "additionalProperties": false
                  }
                ]
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "Inventory": {
        "type": "object",
        "required": [
          "schema",
          "source"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "schema": {
            "$ref": "#/components/schemas/Schema"
          },
          "source": {
            "type": "string"
          },
          "source_type": {
            "type": "string"
          },
          "refresh_state_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "refresh_state_part_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "total_parts": {
            "type": "integer"
          },
          "sweep_scope": {
            "oneOf": [
              {
                "type": "object"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "collections": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/InventoryCollectionCluster"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionContainer"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionContainerGroup"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionContainerImage"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionContainerNode"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionContainerProject"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionContainerResourceQuota"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionContainerTemplate"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionDatastore"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionFlavor"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionIpaddress"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionHost"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionNetworkAdapter"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionNetwork"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionOrchestrationStack"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionReservation"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionServiceInstance"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionServiceInstanceNode"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionServiceInventory"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionSecurityGroup"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionServiceOfferingIcon"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionServiceOffering"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionServiceOfferingNode"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionServicePlan"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionSourceRegion"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionSubnet"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionSubscription"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionVm"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionVolume"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionVolumeType"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionClusterTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionContainerGroupTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionContainerImageTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionContainerNodeTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionContainerProjectTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionContainerTemplateTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionDatastoreTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionIpaddressTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionHostTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionNetworkAdapterTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionNetworkTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionReservationTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionSecurityGroupTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionServiceInventoryTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionServiceOfferingTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionSubnetTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionVmTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionDatastoreMount"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionVolumeAttachment"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionVmSecurityGroup"
                }
              ],
              "discriminator": {
                "propertyName": "name",
                "mapping": {
                  "clusters": "#/components/schemas/InventoryCollectionCluster",
                  "containers": "#/components/schemas/InventoryCollectionContainer",
                  "container_groups": "#/components/schemas/InventoryCollectionContainerGroup",
                  "container_images": "#/components/schemas/InventoryCollectionContainerImage",
                  "container_nodes": "#/components/schemas/InventoryCollectionContainerNode",
                  "container_projects": "#/components/schemas/InventoryCollectionContainerProject",
                  "container_resource_quotas": "#/components/schemas/InventoryCollectionContainerResourceQuota",
                  "container_templates": "#/components/schemas/InventoryCollectionContainerTemplate",
                  "datastores": "#/components/schemas/InventoryCollectionDatastore",
                  "flavors": "#/components/schemas/InventoryCollectionFlavor",
                  "ipaddresses": "#/components/schemas/InventoryCollectionIpaddress",
                  "hosts": "#/components/schemas/InventoryCollectionHost",
                  "network_adapters": "#/components/schemas/InventoryCollectionNetworkAdapter",
                  "networks": "#/components/schemas/InventoryCollectionNetwork",
                  "orchestration_stacks": "#/components/schemas/InventoryCollectionOrchestrationStack",
                  "reservations": "#/components/schemas/InventoryCollectionReservation",
                  "service_instances": "#/components/schemas/InventoryCollectionServiceInstance",
                  "service_instance_nodes": "#/components/schemas/InventoryCollectionServiceInstanceNode",
                  "service_inventories": "#/components/schemas/InventoryCollectionServiceInventory",
                  "security_groups": "#/components/schemas/InventoryCollectionSecurityGroup",
                  "service_offering_icons": "#/components/schemas/InventoryCollectionServiceOfferingIcon",
                  "service_offerings": "#/components/schemas/InventoryCollectionServiceOffering",
                  "service_offering_nodes": "#/components/schemas/InventoryCollectionServiceOfferingNode",
                  "service_plans": "#/components/schemas/InventoryCollectionServicePlan",
                  "source_regions": "#/components/schemas/InventoryCollectionSourceRegion",
                  "subnets": "#/components/schemas/InventoryCollectionSubnet",
                  "subscriptions": "#/components/schemas/InventoryCollectionSubscription",
                  "vms": "#/components/schemas/InventoryCollectionVm",
                  "volumes": "#/components/schemas/InventoryCollectionVolume",
                  "volume_types": "#/components/schemas/InventoryCollectionVolumeType",
                  "cluster_tags": "#/components/schemas/InventoryCollectionClusterTag",
                  "container_group_tags": "#/components/schemas/InventoryCollectionContainerGroupTag",
                  "container_image_tags": "#/components/schemas/InventoryCollectionContainerImageTag",
                  "container_node_tags": "#/components/schemas/InventoryCollectionContainerNodeTag",
                  "container_project_tags": "#/components/schemas/InventoryCollectionContainerProjectTag",
                  "container_template_tags": "#/components/schemas/InventoryCollectionContainerTemplateTag",
                  "datastore_tags": "#/components/schemas/InventoryCollectionDatastoreTag",
                  "ipaddress_tags": "#/components/schemas/InventoryCollectionIpaddressTag",
                  "host_tags": "#/components/schemas/InventoryCollectionHostTag",
                  "network_adapter_tags": "#/components/schemas/InventoryCollectionNetworkAdapterTag",
                  "network_tags": "#/components/schemas/InventoryCollectionNetworkTag",
                  "reservation_tags": "#/components/schemas/InventoryCollectionReservationTag",
                  "security_group_tags": "#/components/schemas/InventoryCollectionSecurityGroupTag",
                  "service_inventory_tags": "#/components/schemas/InventoryCollectionServiceInventoryTag",
                  "service_offering_tags": "#/components/schemas/InventoryCollectionServiceOfferingTag",
                  "subnet_tags": "#/components/schemas/InventoryCollectionSubnetTag",
                  "vm_tags": "#/components/schemas/InventoryCollectionVmTag",
                  "tags": "#/components/schemas/InventoryCollectionTag",
                  "datastore_mounts": "#/components/schemas/InventoryCollectionDatastoreMount",
                  "volume_attachments": "#/components/schemas/InventoryCollectionVolumeAttachment",
                  "vm_security_groups": "#/components/schemas/InventoryCollectionVmSecurityGroup"
                }
              }
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollection": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InventoryObject"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InventoryObject"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionCluster": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Cluster"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Cluster"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionClusterTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClusterTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClusterTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionContainer": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Container"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Container"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionContainerGroup": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerGroup"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerGroup"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionContainerGroupTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerGroupTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerGroupTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionContainerImage": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerImage"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerImage"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionContainerImageTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerImageTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerImageTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionContainerNode": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerNode"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerNode"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionContainerNodeTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerNodeTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerNodeTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionContainerProject": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerProject"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerProject"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionContainerProjectTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerProjectTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerProjectTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionContainerResourceQuota": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerResourceQuota"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerResourceQuota"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionContainerTemplate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerTemplate"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerTemplate"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionContainerTemplateTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerTemplateTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerTemplateTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionDatastore": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Datastore"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Datastore"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionDatastoreMount": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DatastoreMount"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DatastoreMount"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionDatastoreTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DatastoreTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DatastoreTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionFlavor": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Flavor"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Flavor"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionHost": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Host"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Host"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionHostTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HostTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HostTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionIpaddress": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ipaddress"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ipaddress"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionIpaddressTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IpaddressTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IpaddressTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionNetwork": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Network"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Network"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionNetworkAdapter": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkAdapter"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkAdapter"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionNetworkAdapterTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkAdapterTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkAdapterTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionNetworkTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionOrchestrationStack": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrchestrationStack"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrchestrationStack"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionReservation": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reservation"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Reservation"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionReservationTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReservationTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReservationTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionSecurityGroup": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SecurityGroup"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SecurityGroup"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionSecurityGroupTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SecurityGroupTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SecurityGroupTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionServiceInstance": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceInstance"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceInstance"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionServiceInstanceNode": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceInstanceNode"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceInstanceNode"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionServiceInventory": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceInventory"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceInventory"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionServiceInventoryTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceInventoryTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceInventoryTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionServiceOffering": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceOffering"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceOffering"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionServiceOfferingIcon": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceOfferingIcon"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceOfferingIcon"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionServiceOfferingNode": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceOfferingNode"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceOfferingNode"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionServiceOfferingTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceOfferingTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceOfferingTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionServicePlan": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServicePlan"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServicePlan"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionSourceRegion": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SourceRegion"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SourceRegion"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionSubnet": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subnet"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subnet"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionSubnetTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubnetTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubnetTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionSubscription": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subscription"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subscription"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionVm": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vm"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vm"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionVmSecurityGroup": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VmSecurityGroup"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VmSecurityGroup"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionVmTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VmTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VmTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionVolume": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Volume"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Volume"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionVolumeAttachment": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VolumeAttachment"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VolumeAttachment"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionVolumeType": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VolumeType"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VolumeType"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryObject": {
        "type": "object",
        "additionalProperties": false
      },
      "InventoryObjectLazy": {
        "type": "object",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string"
          },
          "reference": {
            "type": "object",
            "properties": {
            }
          },
          "ref": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Ipaddress": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "kind",
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "extra": {
                "nullable": true,
                "type": "object"
              },
              "ipaddress": {
                "nullable": true,
                "type": "string"
              },
              "kind": {
                "enum": [
                  "private",
                  "public",
                  "elastic"
                ],
                "type": "string"
              },
              "network_adapter": {
                "$ref": "#/components/schemas/NetworkAdapterReference"
              },
              "orchestration_stack": {
                "$ref": "#/components/schemas/OrchestrationStackReference"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "source_region": {
                "$ref": "#/components/schemas/SourceRegionReference"
              },
              "subnet": {
                "$ref": "#/components/schemas/SubnetReference"
              },
              "subscription": {
                "$ref": "#/components/schemas/SubscriptionReference"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "IpaddressReference": {
        "type": "object",
        "nullable": true,
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^ipaddresses$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "IpaddressTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "ipaddress",
              "tag"
            ],
            "properties": {
              "ipaddress": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/IpaddressReference"
                  },
                  {
                    "type": "object",
                    "nullable": false,
                    "additionalProperties": false
                  }
                ]
              },
              "tag": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TagReference"
                  },
                  {
                    "type": "object",
                    "nullable": false,
                    "additionalProperties": false
                  }
                ]
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "Network": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "cidr": {
                "nullable": true,
                "type": "string"
              },
              "extra": {
                "nullable": true,
                "type": "object"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "orchestration_stack": {
                "$ref": "#/components/schemas/OrchestrationStackReference"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "source_region": {
                "$ref": "#/components/schemas/SourceRegionReference"
              },
              "status": {
                "nullable": true,
                "type": "string"
              },
              "subscription": {
                "$ref": "#/components/schemas/SubscriptionReference"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "NetworkAdapter": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "device": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/VmReference"
                  },
                  {
                    "$ref": "#/components/schemas/HostReference"
                  }
                ]
              },
              "extra": {
                "nullable": true,
                "type": "object"
              },
              "mac_address": {
                "nullable": true,
                "type": "string"
              },
              "orchestration_stack": {
                "$ref": "#/components/schemas/OrchestrationStackReference"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "source_region": {
                "$ref": "#/components/schemas/SourceRegionReference"
              },
              "subscription": {
                "$ref": "#/components/schemas/SubscriptionReference"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "NetworkAdapterReference": {
        "type": "object",
        "nullable": true,
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^network_adapters$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "NetworkAdapterTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "network_adapter",
              "tag"
            ],
            "properties": {
              "network_adapter": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NetworkAdapterReference"
                  },
                  {
                    "type": "object",
                    "nullable": false,
                    "additionalProperties": false
                  }
                ]
              },
              "tag": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TagReference"
                  },
                  {
                    "type": "object",
                    "nullable": false,
                    "additionalProperties": false
                  }
                ]
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "NetworkReference": {
        "type": "object",
        "nullable": true,
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^networks$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "NetworkTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "network",
              "tag"
            ],
            "properties": {
              "network": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NetworkReference"
                  },
                  {
                    "type": "object",
                    "nullable": false,
                    "additionalProperties": false
                  }
                ]
              },
              "tag": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TagReference"
                  },
                  {
                    "type": "object",
                    "nullable": false,
                    "additionalProperties": false
                  }
                ]
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "OrchestrationStack": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "description": {
                "nullable": true,
                "type": "string"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "parent_orchestration_stack": {
                "$ref": "#/components/schemas/OrchestrationStackReference"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
[...]
