{
  "openapi": "3.0.0",
  "info": {
    "description": "Topological Inventory Ingress API",
    "version": "0.0.2",
    "title": "Topological Inventory Ingress API",
    "contact": {
      "email": "support@redhat.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://cloud.redhat.com/{basePath}",
      "description": "Production Server",
      "variables": {
        "basePath": {
          "default": "/topological_inventory/ingress_api/0.0.2"
        }
      }
    },
    {
      "url": "http://localhost:{port}/{basePath}",
      "description": "Development Server",
      "variables": {
        "port": {
          "default": "9292"
        },
        "basePath": {
          "default": "/topological_inventory/ingress_api/0.0.2"
        }
      }
    }
  ],
  "security": [
    {
      "UserSecurity": [

      ]
    }
  ],
  "paths": {
    "/inventory": {
      "post": {
        "summary": "save inventory",
        "description": "Submits a payload to be persisted to the database",
        "operationId": "saveInventory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Inventory"
              }
            }
          },
          "description": "Inventory payload",
          "required": true
        },
        "responses": {
          "200": {
            "description": "ContainerGroups collection",
            "content": {
              "application/json": {
                "schema": {
                  "description": "inventory saved"
                }
              }
            }
          },
          "400": {
            "description": "ContainerGroups collection",
            "content": {
              "application/json": {
                "schema": {
                  "description": "invalid input, inventory invalid"
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "Return this API document in JSON format",
        "operationId": "getDocumentation",
        "responses": {
          "200": {
            "description": "The API document for this version of the API"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Container": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "container_group",
              "name"
            ],
            "properties": {
              "container_group": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              },
              "container_image": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              },
              "name": {
                "type": "string"
              },
              "cpu_limit": {
                "type": "number",
                "format": "double"
              },
              "cpu_request": {
                "type": "number",
                "format": "double"
              },
              "memory_limit": {
                "type": "integer"
              },
              "memory_request": {
                "type": "integer"
              },
              "resource_timestamp": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "ContainerGroup": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "resource_version": {
                "type": "string"
              },
              "source_created_at": {
                "type": "string",
                "format": "date-time"
              },
              "source_deleted_at": {
                "type": "string",
                "format": "date-time"
              },
              "resource_timestamp": {
                "type": "string",
                "format": "date-time"
              },
              "ipaddress": {
                "type": "string"
              },
              "container_project": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              },
              "container_node": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              }
            }
          }
        ]
      },
      "ContainerGroupTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "container_group",
              "tag"
            ],
            "properties": {
              "container_group": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              },
              "tag": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              }
            }
          }
        ]
      },
      "ContainerImage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "tag": {
                "type": "string"
              },
              "resource_version": {
                "type": "string"
              },
              "source_created_at": {
                "type": "string",
                "format": "date-time"
              },
              "source_deleted_at": {
                "type": "string",
                "format": "date-time"
              },
              "resource_timestamp": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "ContainerImageTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "container_image",
              "tag"
            ],
            "properties": {
              "container_image": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              },
              "tag": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              }
            }
          }
        ]
      },
      "ContainerNode": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              },
              "resource_version": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "cpus": {
                "type": "integer"
              },
              "memory": {
                "type": "integer"
              },
              "pods": {
                "type": "integer"
              },
              "allocatable_cpus": {
                "type": "number",
                "format": "float"
              },
              "allocatable_memory": {
                "type": "integer"
              },
              "allocatable_pods": {
                "type": "integer"
              },
              "conditions": {
                "type": "object"
              },
              "addresses": {
                "type": "object"
              },
              "node_info": {
                "type": "object"
              },
              "lives_on": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              },
              "source_created_at": {
                "type": "string",
                "format": "date-time"
              },
              "source_deleted_at": {
                "type": "string",
                "format": "date-time"
              },
              "resource_timestamp": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "ContainerNodeTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "container_node",
              "tag"
            ],
            "properties": {
              "container_node": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              },
              "tag": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              }
            }
          }
        ]
      },
      "ContainerProject": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "name",
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "display_name": {
                "type": "string"
              },
              "resource_version": {
                "type": "string"
              },
              "source_created_at": {
                "type": "string",
                "format": "date-time"
              },
              "source_deleted_at": {
                "type": "string",
                "format": "date-time"
              },
              "status_phase": {
                "type": "string"
              },
              "resource_timestamp": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "ContainerProjectTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "container_project",
              "tag"
            ],
            "properties": {
              "container_project": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              },
              "tag": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              }
            }
          }
        ]
      },
      "ContainerResourceQuota": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "resource_version": {
                "type": "string"
              },
              "source_created_at": {
                "type": "string",
                "format": "date-time"
              },
              "source_deleted_at": {
                "type": "string",
                "format": "date-time"
              },
              "status": {
                "type": "object"
              },
              "spec": {
                "type": "object"
              },
              "resource_timestamp": {
                "type": "string",
                "format": "date-time"
              },
              "container_project": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              }
            }
          }
        ]
      },
      "ContainerTemplate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "resource_version": {
                "type": "string"
              },
              "source_created_at": {
                "type": "string",
                "format": "date-time"
              },
              "source_deleted_at": {
                "type": "string",
                "format": "date-time"
              },
              "resource_timestamp": {
                "type": "string",
                "format": "date-time"
              },
              "container_project": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              }
            }
          }
        ]
      },
      "ContainerTemplateTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "container_template",
              "tag"
            ],
            "properties": {
              "container_template": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              },
              "tag": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              }
            }
          }
        ]
      },
      "Flavor": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string",
                "description": "Unique identifier of the entity."
              },
              "name": {
                "type": "string",
                "description": "Name of the flavor."
              },
              "disk_size": {
                "type": "integer",
                "description": "Size of one local disk in bytes. Total storage capacity of the entity is: disk_size * disk_count."
              },
              "disk_count": {
                "type": "integer",
                "description": "Total count of disks. Total storage capacity of the entity is: disk_size * disk_count."
              },
              "memory": {
                "type": "integer",
                "description": "Memory in bytes."
              },
              "cpus": {
                "type": "integer",
                "description": "Number of cpus of the entity (vcpus for virtualized, cpus for baremetal)."
              },
              "extra": {
                "type": "object",
                "description": "Free form document for storing SourceType's specific attributes.",
                "properties": {
                }
              },
              "resource_timestamp": {
                "type": "string",
                "format": "date-time",
                "description": "Timestamp marking age of the data."
              }
            }
          }
        ]
      },
      "Inventory": {
        "type": "object",
        "required": [
          "schema",
          "source"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "schema": {
            "$ref": "#/components/schemas/Schema"
          },
          "source": {
            "$ref": "#/components/schemas/Source"
          },
          "refresh_state_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "refresh_state_part_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "total_parts": {
            "type": "integer"
          },
          "sweep_scope": {
            "type": "object"
          },
          "collections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InventoryCollection"
            }
          }
        },
        "example": {
          "schema": {
            "name": "name"
          },
          "collections": [
            {
              "data": [
                {
                },
                {
                }
              ],
              "name": "name",
              "all_manager_uuids": [
                "all_manager_uuids",
                "all_manager_uuids"
              ],
              "partial_data": [
                null,
                null
              ],
              "manager_uuids": [
                "manager_uuids",
                "manager_uuids"
              ]
            },
            {
              "data": [
                {
                },
                {
                }
              ],
              "name": "name",
              "all_manager_uuids": [
                "all_manager_uuids",
                "all_manager_uuids"
              ],
              "partial_data": [
                null,
                null
              ],
              "manager_uuids": [
                "manager_uuids",
                "manager_uuids"
              ]
            }
          ],
          "total_parts": 0,
          "name": "name",
          "refresh_state_uuid": "046b6c7f-0b8a-43b9-b35d-6489e6daee91",
          "refresh_state_part_uuid": "046b6c7f-0b8a-43b9-b35d-6489e6daee91",
          "source": {
            "name": "Widget Adapter",
            "id": "d290f1ee-6c54-4b01-90e6-d701748f0851"
          },
          "sweep_scope": [
            "sweep_scope",
            "sweep_scope"
          ]
        }
      },
      "InventoryCollection": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "manager_uuids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "all_manager_uuids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InventoryObject"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InventoryObject"
            }
          }
        },
        "example": {
          "data": [
            {
            },
            {
            }
          ],
          "name": "name",
          "all_manager_uuids": [
            "all_manager_uuids",
            "all_manager_uuids"
          ],
          "partial_data": [
            null,
            null
          ],
          "manager_uuids": [
            "manager_uuids",
            "manager_uuids"
          ]
        }
      },
      "InventoryObject": {
        "type": "object"
      },
      "InventoryObjectLazy": {
        "type": "object",
        "required": [
          "inventory_collection_name"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string"
          },
          "reference": {
            "type": "object",
            "properties": {
            }
          },
          "ref": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "default": {
            "type": "object",
            "properties": {
            }
          },
          "transform_nested_lazy_finds": {
            "type": "boolean"
          }
        }
      },
      "OrchestrationStack": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "source_created_at": {
                "type": "string",
                "format": "date-time"
              },
              "source_deleted_at": {
                "type": "string",
                "format": "date-time"
              },
              "resource_timestamp": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "Schema": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "ServiceInstance": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "name",
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "external_url": {
                "type": "string",
                "description": "URL of the service instance in the external source (OpenShift, Azure, AWS, ...)."
              },
              "source_created_at": {
                "type": "string",
                "format": "date-time"
              },
              "source_deleted_at": {
                "type": "string",
                "format": "date-time"
              },
              "resource_timestamp": {
                "type": "string",
                "format": "date-time"
              },
              "service_offering": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              },
              "service_plan": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              },
              "source_region": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              },
              "subscription": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              }
            }
          }
        ]
      },
      "ServiceOffering": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "display_name": {
                "type": "string"
              },
              "documentation_url": {
                "type": "string"
              },
              "long_description": {
                "type": "string"
              },
              "distributor": {
                "type": "string"
              },
              "support_url": {
                "type": "string"
              },
              "extra": {
                "type": "object",
                "properties": {
                }
              },
              "source_created_at": {
                "type": "string",
                "format": "date-time"
              },
              "source_deleted_at": {
                "type": "string",
                "format": "date-time"
              },
              "resource_timestamp": {
                "type": "string",
                "format": "date-time"
              },
              "source_region": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              },
              "subscription": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              },
              "service_offering_icon": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              }
            }
          }
        ]
      },
      "ServiceOfferingIcon": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              },
              "data": {
                "type": "string"
              }
            }
          }
        ]
      },
      "ServiceOfferingTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "service_offering",
              "tag"
            ],
            "properties": {
              "service_offering": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              },
              "tag": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              }
            }
          }
        ]
      },
      "ServicePlan": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "resource_version": {
                "type": "string"
              },
              "source_created_at": {
                "type": "string",
                "format": "date-time"
              },
              "source_deleted_at": {
                "type": "string",
                "format": "date-time"
              },
              "resource_timestamp": {
                "type": "string",
                "format": "date-time"
              },
              "create_json_schema": {
                "type": "object",
                "properties": {
                }
              },
              "update_json_schema": {
                "type": "object",
                "properties": {
                }
              },
              "service_offering": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              },
              "source_region": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              },
              "subscription": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              }
            }
          }
        ]
      },
      "Source": {
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
          },
          "name": {
            "type": "string",
            "example": "Widget Adapter"
          }
        }
      },
      "SourceRegion": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "endpoint": {
                "type": "string"
              }
            }
          }
        ]
      },
      "Subscription": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        ]
      },
      "Tag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "name",
              "namespace"
            ],
            "properties": {
              "name": {
                "type": "string"
              },
              "value": {
                "type": "string"
              },
              "namespace": {
                "type": "string"
              }
            }
          }
        ]
      },
      "Vm": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              },
              "uid_ems": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "hostname": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "power_state": {
                "type": "string"
              },
              "cpus": {
                "type": "integer"
              },
              "memory": {
                "type": "integer"
              },
              "mac_addresses": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": [
                  "06:d5:e7:4e:c8:92",
                  "06:d5:e7:4e:c8:93"
                ],
                "description": "Array of all MAC addresses of this Vm"
              },
              "host_inventory_uuid": {
                "type": "string",
                "format": "uuid",
                "example": "82729f49-ed4e-4fc6-9ca1-b0ffee063874",
                "description": "UUID of the host in host inventory"
              },
              "extra": {
                "type": "object",
                "properties": {
                }
              },
              "source_created_at": {
                "type": "string",
                "format": "date-time"
              },
              "source_deleted_at": {
                "type": "string",
                "format": "date-time"
              },
              "resource_timestamp": {
                "type": "string",
                "format": "date-time"
              },
              "flavor": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              }
            }
          }
        ]
      },
      "VmTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "tag",
              "vm"
            ],
            "properties": {
              "vm": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              },
              "tag": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              }
            }
          }
        ]
      },
      "Volume": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "state": {
                "type": "string",
                "enum": [
                  "creating",
                  "available",
                  "in-use",
                  "deleting",
                  "deleted",
                  "error",
                  "unknown"
                ]
              },
              "size": {
                "type": "integer"
              },
              "extra": {
                "type": "object",
                "properties": {
                }
              },
              "source_created_at": {
                "type": "string",
                "format": "date-time"
              },
              "source_deleted_at": {
                "type": "string",
                "format": "date-time"
              },
              "resource_timestamp": {
                "type": "string",
                "format": "date-time"
              },
              "volume_type": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              },
              "source_region": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              }
            }
          }
        ]
      },
      "VolumeAttachment": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "vm",
              "volume"
            ],
            "properties": {
              "vm": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              },
              "volume": {
                "$ref": "#/components/schemas/InventoryObjectLazy"
              },
              "device": {
                "type": "string"
              },
              "state": {
                "type": "string",
                "enum": [
                  "attaching",
                  "attached",
                  "detaching",
                  "unknown"
                ]
              }
            }
          }
        ]
      },
      "VolumeType": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "extra": {
                "type": "object",
                "properties": {
                }
              }
            }
          }
        ]
      }
    },
    "parameters": {
    }
  }
}
