{
  "openapi": "3.0.0",
  "info": {
    "description": "Topological Inventory Ingress API",
    "version": "0.0.2",
    "title": "Topological Inventory Ingress API",
    "contact": {
      "email": "support@redhat.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://cloud.redhat.com/{basePath}",
      "description": "Production Server",
      "variables": {
        "basePath": {
          "default": "/topological_inventory/ingress_api/0.0.2"
        }
      }
    },
    {
      "url": "http://localhost:{port}/{basePath}",
      "description": "Development Server",
      "variables": {
        "port": {
          "default": "9292"
        },
        "basePath": {
          "default": "/topological_inventory/ingress_api/0.0.2"
        }
      }
    }
  ],
  "security": [
    {
      "UserSecurity": [

      ]
    }
  ],
  "paths": {
    "/inventory": {
      "post": {
        "summary": "save inventory",
        "description": "Submits a payload to be persisted to the database",
        "operationId": "saveInventory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Inventory"
              }
            }
          },
          "description": "Inventory payload",
          "required": true
        },
        "responses": {
          "200": {
            "description": "ContainerGroups collection",
            "content": {
              "application/json": {
                "schema": {
                  "description": "inventory saved"
                }
              }
            }
          },
          "400": {
            "description": "ContainerGroups collection",
            "content": {
              "application/json": {
                "schema": {
                  "description": "invalid input, inventory invalid"
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "Return this API document in JSON format",
        "operationId": "getDocumentation",
        "responses": {
          "200": {
            "description": "The API document for this version of the API"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Cluster": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "extra": {
                "nullable": true,
                "type": "object"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "uid_ems": {
                "nullable": true,
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ClusterReference": {
        "type": "object",
        "nullable": "false",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^clusters$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "ClusterTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "cluster",
              "tag"
            ],
            "properties": {
              "cluster": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ClusterReference"
                  },
                  {
                    "type": "object",
                    "nullable": "false",
                    "additionalProperties": false
                  }
                ]
              },
              "tag": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TagReference"
                  },
                  {
                    "type": "object",
                    "nullable": "false",
                    "additionalProperties": false
                  }
                ]
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "Container": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "container_group",
              "name"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "container_group": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContainerGroupReference"
                  },
                  {
                    "type": "object",
                    "nullable": "false",
                    "additionalProperties": false
                  }
                ]
              },
              "container_image": {
                "$ref": "#/components/schemas/ContainerImageReference"
              },
              "cpu_limit": {
                "format": "double",
                "nullable": true,
                "type": "number"
              },
              "cpu_request": {
                "format": "double",
                "nullable": true,
                "type": "number"
              },
              "memory_limit": {
                "nullable": true,
                "type": "integer"
              },
              "memory_request": {
                "nullable": true,
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ContainerGroup": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "container_node": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/ContainerNodeReference"
                  },
                  {
                    "$ref": "#/components/schemas/ContainerNodeReferenceByName"
                  }
                ]
              },
              "container_project": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/ContainerProjectReference"
                  },
                  {
                    "$ref": "#/components/schemas/ContainerProjectReferenceByName"
                  }
                ]
              },
              "ipaddress": {
                "nullable": true,
                "type": "string"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "resource_version": {
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ContainerGroupReference": {
        "type": "object",
        "nullable": "false",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^container_groups$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "ContainerGroupTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "container_group",
              "tag"
            ],
            "properties": {
              "container_group": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContainerGroupReference"
                  },
                  {
                    "type": "object",
                    "nullable": "false",
                    "additionalProperties": false
                  }
                ]
              },
              "tag": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TagReference"
                  },
                  {
                    "type": "object",
                    "nullable": "false",
                    "additionalProperties": false
                  }
                ]
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ContainerImage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "resource_version": {
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "tag": {
                "nullable": true,
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ContainerImageReference": {
        "type": "object",
        "nullable": "false",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^container_images$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "ContainerImageTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "container_image",
              "tag"
            ],
            "properties": {
              "container_image": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContainerImageReference"
                  },
                  {
                    "type": "object",
                    "nullable": "false",
                    "additionalProperties": false
                  }
                ]
              },
              "tag": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TagReference"
                  },
                  {
                    "type": "object",
                    "nullable": "false",
                    "additionalProperties": false
                  }
                ]
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ContainerNode": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "addresses": {
                "nullable": true,
                "type": "array"
              },
              "allocatable_cpus": {
                "format": "float",
                "nullable": true,
                "type": "number"
              },
              "allocatable_memory": {
                "nullable": true,
                "type": "integer"
              },
              "allocatable_pods": {
                "nullable": true,
                "type": "integer"
              },
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "conditions": {
                "nullable": true,
                "type": "array"
              },
              "cpus": {
                "nullable": true,
                "type": "integer"
              },
              "lives_on": {
                "$ref": "#/components/schemas/CrossLinkVmReference"
              },
              "memory": {
                "nullable": true,
                "type": "integer"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "node_info": {
                "nullable": true,
                "type": "object"
              },
              "pods": {
                "nullable": true,
                "type": "integer"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "resource_version": {
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ContainerNodeReference": {
        "type": "object",
        "nullable": "false",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^container_nodes$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "ContainerNodeReferenceByName": {
        "type": "object",
        "nullable": "false",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^container_nodes$"
          },
          "reference": {
            "type": "object",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "nullable": true,
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^by_name$"
          }
        },
        "additionalProperties": false
      },
      "ContainerNodeTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "container_node",
              "tag"
            ],
            "properties": {
              "container_node": {
                "allOf": [
                  {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/ContainerNodeReference"
                      },
                      {
                        "$ref": "#/components/schemas/ContainerNodeReferenceByName"
                      }
                    ]
                  },
                  {
                    "type": "object",
                    "nullable": "false",
                    "additionalProperties": false
                  }
                ]
              },
              "tag": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TagReference"
                  },
                  {
                    "type": "object",
                    "nullable": "false",
                    "additionalProperties": false
                  }
                ]
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ContainerProject": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "display_name": {
                "nullable": true,
                "type": "string"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "resource_version": {
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "status_phase": {
                "nullable": true,
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ContainerProjectReference": {
        "type": "object",
        "nullable": "false",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^container_projects$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "ContainerProjectReferenceByName": {
        "type": "object",
        "nullable": "false",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^container_projects$"
          },
          "reference": {
            "type": "object",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "nullable": true,
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^by_name$"
          }
        },
        "additionalProperties": false
      },
      "ContainerProjectTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "container_project",
              "tag"
            ],
            "properties": {
              "container_project": {
                "allOf": [
                  {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/ContainerProjectReference"
                      },
                      {
                        "$ref": "#/components/schemas/ContainerProjectReferenceByName"
                      }
                    ]
                  },
                  {
                    "type": "object",
                    "nullable": "false",
                    "additionalProperties": false
                  }
                ]
              },
              "tag": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TagReference"
                  },
                  {
                    "type": "object",
                    "nullable": "false",
                    "additionalProperties": false
                  }
                ]
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ContainerResourceQuota": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "container_project": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/ContainerProjectReference"
                  },
                  {
                    "$ref": "#/components/schemas/ContainerProjectReferenceByName"
                  }
                ]
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "resource_version": {
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "spec": {
                "nullable": true,
                "type": "object"
              },
              "status": {
                "nullable": true,
                "type": "object"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ContainerTemplate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "container_project": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/ContainerProjectReference"
                  },
                  {
                    "$ref": "#/components/schemas/ContainerProjectReferenceByName"
                  }
                ]
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "resource_version": {
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ContainerTemplateReference": {
        "type": "object",
        "nullable": "false",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^container_templates$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "ContainerTemplateTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "container_template",
              "tag"
            ],
            "properties": {
              "container_template": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ContainerTemplateReference"
                  },
                  {
                    "type": "object",
                    "nullable": "false",
                    "additionalProperties": false
                  }
                ]
              },
              "tag": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TagReference"
                  },
                  {
                    "type": "object",
                    "nullable": "false",
                    "additionalProperties": false
                  }
                ]
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "CrossLinkVmReference": {
        "type": "object",
        "nullable": "false",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^cross_link_vms$"
          },
          "reference": {
            "type": "object",
            "required": [
              "uid_ems"
            ],
            "properties": {
              "uid_ems": {
                "nullable": true,
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "Flavor": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "cpus": {
                "description": "Number of cpus of the entity (vcpus for virtualized, cpus for baremetal).",
                "nullable": true,
                "type": "integer"
              },
              "disk_count": {
                "description": "Total count of disks. Total storage capacity of the entity is: disk_size * disk_count.",
                "nullable": true,
                "type": "integer"
              },
              "disk_size": {
                "description": "Size of one local disk in bytes. Total storage capacity of the entity is: disk_size * disk_count.",
                "nullable": true,
                "type": "integer"
              },
              "extra": {
                "description": "Free form document for storing SourceType's specific attributes.",
                "nullable": true,
                "type": "object"
              },
              "memory": {
                "description": "Memory in bytes.",
                "nullable": true,
                "type": "integer"
              },
              "name": {
                "description": "Name of the flavor.",
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "description": "Timestamp marking age of the data.",
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "description": "Unique identifier of the entity.",
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "FlavorReference": {
        "type": "object",
        "nullable": "false",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^flavors$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "description": "Unique identifier of the entity.",
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "Host": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "cluster": {
                "$ref": "#/components/schemas/ClusterReference"
              },
              "cpus": {
                "nullable": true,
                "type": "integer"
              },
              "description": {
                "nullable": true,
                "type": "string"
              },
              "extra": {
                "nullable": true,
                "type": "object"
              },
              "hostname": {
                "nullable": true,
                "type": "string"
              },
              "memory": {
                "nullable": true,
                "type": "integer"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "power_state": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "uid_ems": {
                "nullable": true,
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "HostReference": {
        "type": "object",
        "nullable": "false",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^hosts$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "HostTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "host",
              "tag"
            ],
            "properties": {
              "host": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/HostReference"
                  },
                  {
                    "type": "object",
                    "nullable": "false",
                    "additionalProperties": false
                  }
                ]
              },
              "tag": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TagReference"
                  },
                  {
                    "type": "object",
                    "nullable": "false",
                    "additionalProperties": false
                  }
                ]
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "Inventory": {
        "type": "object",
        "required": [
          "schema",
          "source"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "schema": {
            "$ref": "#/components/schemas/Schema"
          },
          "source": {
            "type": "string"
          },
          "source_type": {
            "type": "string"
          },
          "refresh_state_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "refresh_state_part_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "total_parts": {
            "type": "integer"
          },
          "sweep_scope": {
            "oneOf": [
              {
                "type": "object"
              },
              {
                "type": "array"
              }
            ]
          },
          "collections": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/InventoryCollectionCluster"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionContainer"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionContainerGroup"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionContainerImage"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionContainerNode"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionContainerProject"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionContainerResourceQuota"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionContainerTemplate"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionFlavor"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionHost"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionOrchestrationStack"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionServiceInstance"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionServiceOfferingIcon"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionServiceOffering"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionServicePlan"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionSourceRegion"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionSubscription"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionVm"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionVolume"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionVolumeType"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionClusterTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionContainerGroupTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionContainerImageTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionContainerNodeTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionContainerProjectTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionContainerTemplateTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionHostTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionServiceOfferingTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionVmTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionTag"
                },
                {
                  "$ref": "#/components/schemas/InventoryCollectionVolumeAttachment"
                }
              ],
              "discriminator": {
                "propertyName": "name",
                "mapping": {
                  "clusters": "#/components/schemas/InventoryCollectionCluster",
                  "containers": "#/components/schemas/InventoryCollectionContainer",
                  "container_groups": "#/components/schemas/InventoryCollectionContainerGroup",
                  "container_images": "#/components/schemas/InventoryCollectionContainerImage",
                  "container_nodes": "#/components/schemas/InventoryCollectionContainerNode",
                  "container_projects": "#/components/schemas/InventoryCollectionContainerProject",
                  "container_resource_quotas": "#/components/schemas/InventoryCollectionContainerResourceQuota",
                  "container_templates": "#/components/schemas/InventoryCollectionContainerTemplate",
                  "flavors": "#/components/schemas/InventoryCollectionFlavor",
                  "hosts": "#/components/schemas/InventoryCollectionHost",
                  "orchestration_stacks": "#/components/schemas/InventoryCollectionOrchestrationStack",
                  "service_instances": "#/components/schemas/InventoryCollectionServiceInstance",
                  "service_offering_icons": "#/components/schemas/InventoryCollectionServiceOfferingIcon",
                  "service_offerings": "#/components/schemas/InventoryCollectionServiceOffering",
                  "service_plans": "#/components/schemas/InventoryCollectionServicePlan",
                  "source_regions": "#/components/schemas/InventoryCollectionSourceRegion",
                  "subscriptions": "#/components/schemas/InventoryCollectionSubscription",
                  "vms": "#/components/schemas/InventoryCollectionVm",
                  "volumes": "#/components/schemas/InventoryCollectionVolume",
                  "volume_types": "#/components/schemas/InventoryCollectionVolumeType",
                  "cluster_tags": "#/components/schemas/InventoryCollectionClusterTag",
                  "container_group_tags": "#/components/schemas/InventoryCollectionContainerGroupTag",
                  "container_image_tags": "#/components/schemas/InventoryCollectionContainerImageTag",
                  "container_node_tags": "#/components/schemas/InventoryCollectionContainerNodeTag",
                  "container_project_tags": "#/components/schemas/InventoryCollectionContainerProjectTag",
                  "container_template_tags": "#/components/schemas/InventoryCollectionContainerTemplateTag",
                  "host_tags": "#/components/schemas/InventoryCollectionHostTag",
                  "service_offering_tags": "#/components/schemas/InventoryCollectionServiceOfferingTag",
                  "vm_tags": "#/components/schemas/InventoryCollectionVmTag",
                  "tags": "#/components/schemas/InventoryCollectionTag",
                  "volume_attachments": "#/components/schemas/InventoryCollectionVolumeAttachment"
                }
              }
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollection": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InventoryObject"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InventoryObject"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionCluster": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Cluster"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Cluster"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionClusterTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClusterTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClusterTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionContainer": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Container"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Container"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionContainerGroup": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerGroup"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerGroup"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionContainerGroupTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerGroupTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerGroupTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionContainerImage": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerImage"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerImage"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionContainerImageTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerImageTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerImageTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionContainerNode": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerNode"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerNode"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionContainerNodeTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerNodeTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerNodeTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionContainerProject": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerProject"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerProject"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionContainerProjectTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerProjectTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerProjectTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionContainerResourceQuota": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerResourceQuota"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerResourceQuota"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionContainerTemplate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerTemplate"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerTemplate"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionContainerTemplateTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerTemplateTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContainerTemplateTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionFlavor": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Flavor"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Flavor"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionHost": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Host"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Host"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionHostTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HostTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HostTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionOrchestrationStack": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrchestrationStack"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrchestrationStack"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionServiceInstance": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceInstance"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceInstance"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionServiceOffering": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceOffering"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceOffering"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionServiceOfferingIcon": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceOfferingIcon"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceOfferingIcon"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionServiceOfferingTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceOfferingTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceOfferingTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionServicePlan": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServicePlan"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServicePlan"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionSourceRegion": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SourceRegion"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SourceRegion"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionSubscription": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subscription"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subscription"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionVm": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vm"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vm"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionVmTag": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VmTag"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VmTag"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionVolume": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Volume"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Volume"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionVolumeAttachment": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VolumeAttachment"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VolumeAttachment"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryCollectionVolumeType": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VolumeType"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VolumeType"
            }
          }
        },
        "additionalProperties": false
      },
      "InventoryObject": {
        "type": "object",
        "additionalProperties": false
      },
      "InventoryObjectLazy": {
        "type": "object",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string"
          },
          "reference": {
            "type": "object",
            "properties": {
            }
          },
          "ref": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "OrchestrationStack": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "description": {
                "nullable": true,
                "type": "string"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "OrchestrationStackReference": {
        "type": "object",
        "nullable": "false",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^orchestration_stacks$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "Schema": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ServiceInstance": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "external_url": {
                "description": "URL of the service instance in the external source (OpenShift, Azure, AWS, ...).",
                "nullable": true,
                "type": "string"
              },
              "extra": {
                "nullable": true,
                "type": "object"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "service_offering": {
                "$ref": "#/components/schemas/ServiceOfferingReference"
              },
              "service_plan": {
                "$ref": "#/components/schemas/ServicePlanReference"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "source_region": {
                "$ref": "#/components/schemas/SourceRegionReference"
              },
              "subscription": {
                "$ref": "#/components/schemas/SubscriptionReference"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ServiceOffering": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "description": {
                "nullable": true,
                "type": "string"
              },
              "display_name": {
                "nullable": true,
                "type": "string"
              },
              "distributor": {
                "nullable": true,
                "type": "string"
              },
              "documentation_url": {
                "nullable": true,
                "type": "string"
              },
              "extra": {
                "nullable": true,
                "type": "object"
              },
              "long_description": {
                "nullable": true,
                "type": "string"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "service_offering_icon": {
                "$ref": "#/components/schemas/ServiceOfferingIconReference"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "source_region": {
                "$ref": "#/components/schemas/SourceRegionReference"
              },
              "subscription": {
                "$ref": "#/components/schemas/SubscriptionReference"
              },
              "support_url": {
                "nullable": true,
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ServiceOfferingIcon": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "data": {
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ServiceOfferingIconReference": {
        "type": "object",
        "nullable": "false",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^service_offering_icons$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "ServiceOfferingReference": {
        "type": "object",
        "nullable": "false",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^service_offerings$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "ServiceOfferingTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "service_offering",
              "tag"
            ],
            "properties": {
              "service_offering": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ServiceOfferingReference"
                  },
                  {
                    "type": "object",
                    "nullable": "false",
                    "additionalProperties": false
                  }
                ]
              },
              "tag": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TagReference"
                  },
                  {
                    "type": "object",
                    "nullable": "false",
                    "additionalProperties": false
                  }
                ]
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ServicePlan": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "create_json_schema": {
                "nullable": true,
                "type": "object"
              },
              "description": {
                "nullable": true,
                "type": "string"
              },
              "extra": {
                "nullable": true,
                "type": "object"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "resource_version": {
                "nullable": true,
                "type": "string"
              },
              "service_offering": {
                "$ref": "#/components/schemas/ServiceOfferingReference"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "source_region": {
                "$ref": "#/components/schemas/SourceRegionReference"
              },
              "subscription": {
                "$ref": "#/components/schemas/SubscriptionReference"
              },
              "update_json_schema": {
                "nullable": true,
                "type": "object"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "ServicePlanReference": {
        "type": "object",
        "nullable": "false",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^service_plans$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "SourceRegion": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "endpoint": {
                "nullable": true,
                "type": "string"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "SourceRegionReference": {
        "type": "object",
        "nullable": "false",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^source_regions$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "Subscription": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "SubscriptionReference": {
        "type": "object",
        "nullable": "false",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^subscriptions$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "Tag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "name",
              "namespace",
              "value"
            ],
            "properties": {
              "description": {
                "nullable": true,
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "namespace": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "TagReference": {
        "type": "object",
        "nullable": "false",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^tags$"
          },
          "reference": {
            "type": "object",
            "required": [
              "name",
              "value"
            ],
            "properties": {
              "name": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "Vm": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "cpus": {
                "nullable": true,
                "type": "integer"
              },
              "description": {
                "nullable": true,
                "type": "string"
              },
              "extra": {
                "nullable": true,
                "type": "object"
              },
              "flavor": {
                "$ref": "#/components/schemas/FlavorReference"
              },
              "host_inventory_uuid": {
                "description": "UUID of the host in host inventory",
                "example": "82729f49-ed4e-4fc6-9ca1-b0ffee063874",
                "format": "uuid",
                "nullable": true,
                "type": "string"
              },
              "hostname": {
                "nullable": true,
                "type": "string"
              },
              "mac_addresses": {
                "description": "Array of all MAC addresses of this Vm",
                "example": [
                  "06:d5:e7:4e:c8:92",
                  "06:d5:e7:4e:c8:93"
                ],
                "items": {
                  "type": "string"
                },
                "nullable": true,
                "type": "array"
              },
              "memory": {
                "nullable": true,
                "type": "integer"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "orchestration_stack": {
                "$ref": "#/components/schemas/OrchestrationStackReference"
              },
              "power_state": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "uid_ems": {
                "nullable": true,
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "VmReference": {
        "type": "object",
        "nullable": "false",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^vms$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "VmTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "tag",
              "vm"
            ],
            "properties": {
              "tag": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TagReference"
                  },
                  {
                    "type": "object",
                    "nullable": "false",
                    "additionalProperties": false
                  }
                ]
              },
              "vm": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/VmReference"
                  },
                  {
                    "type": "object",
                    "nullable": "false",
                    "additionalProperties": false
                  }
                ]
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "Volume": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "extra": {
                "nullable": true,
                "type": "object"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "size": {
                "nullable": true,
                "type": "integer"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "source_region": {
                "$ref": "#/components/schemas/SourceRegionReference"
              },
              "state": {
                "nullable": true,
                "type": "string"
              },
              "volume_type": {
                "$ref": "#/components/schemas/VolumeTypeReference"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "VolumeAttachment": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "vm",
              "volume"
            ],
            "properties": {
              "device": {
                "nullable": true,
                "type": "string"
              },
              "state": {
                "nullable": true,
                "type": "string"
              },
              "vm": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/VmReference"
                  },
                  {
                    "type": "object",
                    "nullable": "false",
                    "additionalProperties": false
                  }
                ]
              },
              "volume": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/VolumeReference"
                  },
                  {
                    "type": "object",
                    "nullable": "false",
                    "additionalProperties": false
                  }
                ]
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "VolumeReference": {
        "type": "object",
        "nullable": "false",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^volumes$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      },
      "VolumeType": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "description": {
                "nullable": true,
                "type": "string"
              },
              "extra": {
                "nullable": true,
                "type": "object"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "VolumeTypeReference": {
        "type": "object",
        "nullable": "false",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^volume_types$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            },
            "additionalProperties": false
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        },
        "additionalProperties": false
      }
    },
    "parameters": {
    }
  }
}
