{
  "openapi": "3.0.0",
  "info": {
    "description": "Topological Inventory Ingress API",
    "version": "0.0.2",
    "title": "Topological Inventory Ingress API",
    "contact": {
      "email": "support@redhat.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://cloud.redhat.com/{basePath}",
      "description": "Production Server",
      "variables": {
        "basePath": {
          "default": "/topological_inventory/ingress_api/0.0.2"
        }
      }
    },
    {
      "url": "http://localhost:{port}/{basePath}",
      "description": "Development Server",
      "variables": {
        "port": {
          "default": "9292"
        },
        "basePath": {
          "default": "/topological_inventory/ingress_api/0.0.2"
        }
      }
    }
  ],
  "security": [
    {
      "UserSecurity": [

      ]
    }
  ],
  "paths": {
    "/inventory": {
      "post": {
        "summary": "save inventory",
        "description": "Submits a payload to be persisted to the database",
        "operationId": "saveInventory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Inventory"
              }
            }
          },
          "description": "Inventory payload",
          "required": true
        },
        "responses": {
          "200": {
            "description": "ContainerGroups collection",
            "content": {
              "application/json": {
                "schema": {
                  "description": "inventory saved"
                }
              }
            }
          },
          "400": {
            "description": "ContainerGroups collection",
            "content": {
              "application/json": {
                "schema": {
                  "description": "invalid input, inventory invalid"
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "Return this API document in JSON format",
        "operationId": "getDocumentation",
        "responses": {
          "200": {
            "description": "The API document for this version of the API"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Container": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "container_group",
              "name"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "container_group": {
                "$ref": "#/components/schemas/ContainerGroupsReference"
              },
              "container_image": {
                "$ref": "#/components/schemas/ContainerImagesReference",
                "nullable": true
              },
              "cpu_limit": {
                "format": "double",
                "nullable": true,
                "type": "number"
              },
              "cpu_request": {
                "format": "double",
                "nullable": true,
                "type": "number"
              },
              "memory_limit": {
                "nullable": true,
                "type": "integer"
              },
              "memory_request": {
                "nullable": true,
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              }
            }
          }
        ]
      },
      "ContainerGroup": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "container_node": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ContainerNodesReference"
                  },
                  {
                    "$ref": "#/components/schemas/ContainerNodesReferenceByName"
                  }
                ],
                "nullable": true
              },
              "container_project": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ContainerProjectsReference"
                  },
                  {
                    "$ref": "#/components/schemas/ContainerProjectsReferenceByName"
                  }
                ],
                "nullable": true
              },
              "ipaddress": {
                "nullable": true,
                "type": "string"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "resource_version": {
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              }
            }
          }
        ]
      },
      "ContainerGroupTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "container_group",
              "tag"
            ],
            "properties": {
              "container_group": {
                "$ref": "#/components/schemas/ContainerGroupsReference"
              },
              "tag": {
                "$ref": "#/components/schemas/TagsReference"
              }
            }
          }
        ]
      },
      "ContainerGroupsReference": {
        "type": "object",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^container_groups$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            }
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        }
      },
      "ContainerImage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "resource_version": {
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "tag": {
                "nullable": true,
                "type": "string"
              }
            }
          }
        ]
      },
      "ContainerImageTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "container_image",
              "tag"
            ],
            "properties": {
              "container_image": {
                "$ref": "#/components/schemas/ContainerImagesReference"
              },
              "tag": {
                "$ref": "#/components/schemas/TagsReference"
              }
            }
          }
        ]
      },
      "ContainerImagesReference": {
        "type": "object",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^container_images$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            }
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        }
      },
      "ContainerNode": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "addresses": {
                "nullable": true,
                "type": "object"
              },
              "allocatable_cpus": {
                "format": "float",
                "nullable": true,
                "type": "number"
              },
              "allocatable_memory": {
                "nullable": true,
                "type": "integer"
              },
              "allocatable_pods": {
                "nullable": true,
                "type": "integer"
              },
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "conditions": {
                "nullable": true,
                "type": "object"
              },
              "cpus": {
                "nullable": true,
                "type": "integer"
              },
              "lives_on": {
                "$ref": "#/components/schemas/CrossLinkVmsReference",
                "nullable": true
              },
              "memory": {
                "nullable": true,
                "type": "integer"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "node_info": {
                "nullable": true,
                "type": "object"
              },
              "pods": {
                "nullable": true,
                "type": "integer"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "resource_version": {
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              }
            }
          }
        ]
      },
      "ContainerNodeTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "container_node",
              "tag"
            ],
            "properties": {
              "container_node": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ContainerNodesReference"
                  },
                  {
                    "$ref": "#/components/schemas/ContainerNodesReferenceByName"
                  }
                ]
              },
              "tag": {
                "$ref": "#/components/schemas/TagsReference"
              }
            }
          }
        ]
      },
      "ContainerNodesReference": {
        "type": "object",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^container_nodes$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            }
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        }
      },
      "ContainerNodesReferenceByName": {
        "type": "object",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^container_nodes$"
          },
          "reference": {
            "type": "object",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "nullable": true,
                "type": "string"
              }
            }
          },
          "ref": {
            "type": "string",
            "pattern": "^by_name$"
          }
        }
      },
      "ContainerProject": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "display_name": {
                "nullable": true,
                "type": "string"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "resource_version": {
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "status_phase": {
                "nullable": true,
                "type": "string"
              }
            }
          }
        ]
      },
      "ContainerProjectTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "container_project",
              "tag"
            ],
            "properties": {
              "container_project": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ContainerProjectsReference"
                  },
                  {
                    "$ref": "#/components/schemas/ContainerProjectsReferenceByName"
                  }
                ]
              },
              "tag": {
                "$ref": "#/components/schemas/TagsReference"
              }
            }
          }
        ]
      },
      "ContainerProjectsReference": {
        "type": "object",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^container_projects$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            }
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        }
      },
      "ContainerProjectsReferenceByName": {
        "type": "object",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^container_projects$"
          },
          "reference": {
            "type": "object",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "nullable": true,
                "type": "string"
              }
            }
          },
          "ref": {
            "type": "string",
            "pattern": "^by_name$"
          }
        }
      },
      "ContainerResourceQuota": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "container_project": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ContainerProjectsReference"
                  },
                  {
                    "$ref": "#/components/schemas/ContainerProjectsReferenceByName"
                  }
                ],
                "nullable": true
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "resource_version": {
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "spec": {
                "nullable": true,
                "type": "object"
              },
              "status": {
                "nullable": true,
                "type": "object"
              }
            }
          }
        ]
      },
      "ContainerTemplate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "container_project": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ContainerProjectsReference"
                  },
                  {
                    "$ref": "#/components/schemas/ContainerProjectsReferenceByName"
                  }
                ],
                "nullable": true
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "resource_version": {
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              }
            }
          }
        ]
      },
      "ContainerTemplateTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "container_template",
              "tag"
            ],
            "properties": {
              "container_template": {
                "$ref": "#/components/schemas/ContainerTemplatesReference"
              },
              "tag": {
                "$ref": "#/components/schemas/TagsReference"
              }
            }
          }
        ]
      },
      "ContainerTemplatesReference": {
        "type": "object",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^container_templates$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            }
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        }
      },
      "CrossLinkVmsReference": {
        "type": "object",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^cross_link_vms$"
          },
          "reference": {
            "type": "object",
            "required": [
              "uid_ems"
            ],
            "properties": {
              "uid_ems": {
                "nullable": true,
                "type": "string"
              }
            }
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        }
      },
      "Flavor": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "cpus": {
                "description": "Number of cpus of the entity (vcpus for virtualized, cpus for baremetal).",
                "nullable": true,
                "type": "integer"
              },
              "disk_count": {
                "description": "Total count of disks. Total storage capacity of the entity is: disk_size * disk_count.",
                "nullable": true,
                "type": "integer"
              },
              "disk_size": {
                "description": "Size of one local disk in bytes. Total storage capacity of the entity is: disk_size * disk_count.",
                "nullable": true,
                "type": "integer"
              },
              "extra": {
                "description": "Free form document for storing SourceType's specific attributes.",
                "nullable": true,
                "type": "object"
              },
              "memory": {
                "description": "Memory in bytes.",
                "nullable": true,
                "type": "integer"
              },
              "name": {
                "description": "Name of the flavor.",
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "description": "Timestamp marking age of the data.",
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "description": "Unique identifier of the entity.",
                "type": "string"
              }
            }
          }
        ]
      },
      "FlavorsReference": {
        "type": "object",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^flavors$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "description": "Unique identifier of the entity.",
                "type": "string"
              }
            }
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        }
      },
      "Inventory": {
        "type": "object",
        "required": [
          "schema",
          "source"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "schema": {
            "$ref": "#/components/schemas/Schema"
          },
          "source": {
            "type": "string"
          },
          "refresh_state_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "refresh_state_part_uuid": {
            "type": "string",
            "format": "uuid"
          },
          "total_parts": {
            "type": "integer"
          },
          "sweep_scope": {
            "oneOf": [
              {
                "type": "object"
              },
              {
                "type": "array"
              }
            ]
          },
          "collections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InventoryCollection"
            }
          }
        }
      },
      "InventoryCollection": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InventoryObject"
            }
          },
          "partial_data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InventoryObject"
            }
          }
        }
      },
      "InventoryObject": {
        "type": "object"
      },
      "InventoryObjectLazy": {
        "type": "object",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string"
          },
          "reference": {
            "type": "object",
            "properties": {
            }
          },
          "ref": {
            "type": "string"
          }
        }
      },
      "OrchestrationStack": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "description": {
                "nullable": true,
                "type": "string"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              }
            }
          }
        ]
      },
      "OrchestrationStacksReference": {
        "type": "object",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^orchestration_stacks$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            }
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        }
      },
      "Schema": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "ServiceInstance": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "external_url": {
                "description": "URL of the service instance in the external source (OpenShift, Azure, AWS, ...).",
                "nullable": true,
                "type": "string"
              },
              "extra": {
                "nullable": true,
                "type": "object"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "service_offering": {
                "$ref": "#/components/schemas/ServiceOfferingsReference",
                "nullable": true
              },
              "service_plan": {
                "$ref": "#/components/schemas/ServicePlansReference",
                "nullable": true
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "source_region": {
                "$ref": "#/components/schemas/SourceRegionsReference",
                "nullable": true
              },
              "subscription": {
                "$ref": "#/components/schemas/SubscriptionsReference",
                "nullable": true
              }
            }
          }
        ]
      },
      "ServiceOffering": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "description": {
                "nullable": true,
                "type": "string"
              },
              "display_name": {
                "nullable": true,
                "type": "string"
              },
              "distributor": {
                "nullable": true,
                "type": "string"
              },
              "documentation_url": {
                "nullable": true,
                "type": "string"
              },
              "extra": {
                "nullable": true,
                "type": "object"
              },
              "long_description": {
                "nullable": true,
                "type": "string"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "service_offering_icon": {
                "$ref": "#/components/schemas/ServiceOfferingIconsReference",
                "nullable": true
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "source_region": {
                "$ref": "#/components/schemas/SourceRegionsReference",
                "nullable": true
              },
              "subscription": {
                "$ref": "#/components/schemas/SubscriptionsReference",
                "nullable": true
              },
              "support_url": {
                "nullable": true,
                "type": "string"
              }
            }
          }
        ]
      },
      "ServiceOfferingIcon": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "data": {
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              }
            }
          }
        ]
      },
      "ServiceOfferingIconsReference": {
        "type": "object",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^service_offering_icons$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            }
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        }
      },
      "ServiceOfferingTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "service_offering",
              "tag"
            ],
            "properties": {
              "service_offering": {
                "$ref": "#/components/schemas/ServiceOfferingsReference"
              },
              "tag": {
                "$ref": "#/components/schemas/TagsReference"
              }
            }
          }
        ]
      },
      "ServiceOfferingsReference": {
        "type": "object",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^service_offerings$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            }
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        }
      },
      "ServicePlan": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "create_json_schema": {
                "nullable": true,
                "type": "object"
              },
              "description": {
                "nullable": true,
                "type": "string"
              },
              "extra": {
                "nullable": true,
                "type": "object"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "resource_version": {
                "nullable": true,
                "type": "string"
              },
              "service_offering": {
                "$ref": "#/components/schemas/ServiceOfferingsReference",
                "nullable": true
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "source_region": {
                "$ref": "#/components/schemas/SourceRegionsReference",
                "nullable": true
              },
              "subscription": {
                "$ref": "#/components/schemas/SubscriptionsReference",
                "nullable": true
              },
              "update_json_schema": {
                "nullable": true,
                "type": "object"
              }
            }
          }
        ]
      },
      "ServicePlansReference": {
        "type": "object",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^service_plans$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            }
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        }
      },
      "Source": {
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
          },
          "name": {
            "type": "string",
            "example": "Widget Adapter"
          }
        }
      },
      "SourceRegion": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "endpoint": {
                "nullable": true,
                "type": "string"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              }
            }
          }
        ]
      },
      "SourceRegionsReference": {
        "type": "object",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^source_regions$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            }
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        }
      },
      "Subscription": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              }
            }
          }
        ]
      },
      "SubscriptionsReference": {
        "type": "object",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^subscriptions$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            }
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        }
      },
      "Tag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "name",
              "namespace",
              "value"
            ],
            "properties": {
              "description": {
                "nullable": true,
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "namespace": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          }
        ]
      },
      "TagsReference": {
        "type": "object",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^tags$"
          },
          "reference": {
            "type": "object",
            "required": [
              "name",
              "value"
            ],
            "properties": {
              "name": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        }
      },
      "Vm": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "cpus": {
                "nullable": true,
                "type": "integer"
              },
              "description": {
                "nullable": true,
                "type": "string"
              },
              "extra": {
                "nullable": true,
                "type": "object"
              },
              "flavor": {
                "$ref": "#/components/schemas/FlavorsReference",
                "nullable": true
              },
              "host_inventory_uuid": {
                "description": "UUID of the host in host inventory",
                "example": "82729f49-ed4e-4fc6-9ca1-b0ffee063874",
                "format": "uuid",
                "nullable": true,
                "type": "string"
              },
              "hostname": {
                "nullable": true,
                "type": "string"
              },
              "mac_addresses": {
                "description": "Array of all MAC addresses of this Vm",
                "example": [
                  "06:d5:e7:4e:c8:92",
                  "06:d5:e7:4e:c8:93"
                ],
                "items": {
                  "type": "string"
                },
                "nullable": true,
                "type": "array"
              },
              "memory": {
                "nullable": true,
                "type": "integer"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "orchestration_stack": {
                "$ref": "#/components/schemas/OrchestrationStacksReference",
                "nullable": true
              },
              "power_state": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "uid_ems": {
                "nullable": true,
                "type": "string"
              }
            }
          }
        ]
      },
      "VmTag": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "tag",
              "vm"
            ],
            "properties": {
              "tag": {
                "$ref": "#/components/schemas/TagsReference"
              },
              "vm": {
                "$ref": "#/components/schemas/VmsReference"
              }
            }
          }
        ]
      },
      "VmsReference": {
        "type": "object",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^vms$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            }
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        }
      },
      "Volume": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "extra": {
                "nullable": true,
                "type": "object"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "resource_timestamp": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "size": {
                "nullable": true,
                "type": "integer"
              },
              "source_created_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_deleted_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              },
              "source_region": {
                "$ref": "#/components/schemas/SourceRegionsReference",
                "nullable": true
              },
              "state": {
                "nullable": true,
                "type": "string"
              },
              "volume_type": {
                "$ref": "#/components/schemas/VolumeTypesReference",
                "nullable": true
              }
            }
          }
        ]
      },
      "VolumeAttachment": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "vm",
              "volume"
            ],
            "properties": {
              "device": {
                "nullable": true,
                "type": "string"
              },
              "state": {
                "nullable": true,
                "type": "string"
              },
              "vm": {
                "$ref": "#/components/schemas/VmsReference"
              },
              "volume": {
                "$ref": "#/components/schemas/VolumesReference"
              }
            }
          }
        ]
      },
      "VolumeType": {
        "allOf": [
          {
            "$ref": "#/components/schemas/InventoryObject"
          },
          {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "archived_at": {
                "format": "date-time",
                "nullable": true,
                "type": "string"
              },
              "description": {
                "nullable": true,
                "type": "string"
              },
              "extra": {
                "nullable": true,
                "type": "object"
              },
              "name": {
                "nullable": true,
                "type": "string"
              },
              "source_ref": {
                "type": "string"
              }
            }
          }
        ]
      },
      "VolumeTypesReference": {
        "type": "object",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^volume_types$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            }
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        }
      },
      "VolumesReference": {
        "type": "object",
        "required": [
          "inventory_collection_name",
          "reference",
          "ref"
        ],
        "properties": {
          "inventory_collection_name": {
            "type": "string",
            "pattern": "^volumes$"
          },
          "reference": {
            "type": "object",
            "required": [
              "source_ref"
            ],
            "properties": {
              "source_ref": {
                "type": "string"
              }
            }
          },
          "ref": {
            "type": "string",
            "pattern": "^manager_ref$"
          }
        }
      }
    },
    "parameters": {
    }
  }
}
